@(students: Seq[Student], form: Form[StudentForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Students") {

    <h1>Students</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, media) =>
      <div>@name:     @media</div>
    }

    <table>
      <thead>
        <tr><th>Name</th><th>Media</th>
      </thead>
      <tbody>
      @for(w <- students) {
        <tr><td>@w.name</td><td>@w.media</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("name"))

      @helper.inputText(form("media"))

      <button>Add a student along with their media</button>
    }
  }
